[include]
  path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
	precomposeunicode = true
	autocrlf = input
[alias]
  lol = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative
  lol2 = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative -n 20
  lola = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative --all
  lola2 = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative --all -n 20
  tagl = log --tags --simplify-by-decoration --pretty=format:'%ai %d <%an>'
  s = status -sb
  b = branch -a
  unchanged = update-index --assume-unchanged
  changed = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  gethead = rev-parse --short HEAD
	pushf = push --force-with-lease
[color]
        ui = true
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
