[include]
  path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
	precomposeunicode = true
	autocrlf = input
[alias]
  lol = !git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative -n 10
  lol2 = !git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative -n 20
  lola = !git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative --all -n 10
  lola2 = !git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d %Creset%s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --date=relative --all -n 20
  tagl = ! git --no-pager log --tags --simplify-by-decoration --pretty=format:'%Cgreen%ai%Creset %C(bold red)%d%Creset %C(bold blue)<%an>%Creset' -n 10
  tagl2 = !git --no-pager log --tags --simplify-by-decoration --pretty=format:'%Cgreen%ai%Creset %C(bold red)%d%Creset %C(bold blue)<%an>%Creset' -n 20
  s = status -sb
  b = !git branch --sort=-committerdate | head
  ba = !git branch -a --sort=-committerdate | head
  unchanged = update-index --assume-unchanged
  changed = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  gethead = rev-parse --short HEAD
	pushf = push --force-with-lease
[color]
  ui = true
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autoStash = true
[pager]
	branch = false
