set tabsize 2
set tabstospaces
set nowrap
set smooth
set historylog
set morespace
set mouse
set const
set backup
set backupdir ~/.nano/tmp

include "/usr/local/share/nano/css.nanorc"
include "/usr/local/share/nano/html.nanorc"
include "/usr/local/share/nano/java.nanorc"
include "/usr/local/share/nano/javascript.nanorc"
include "/usr/local/share/nano/json.nanorc"
include "/usr/local/share/nano/nanorc.nanorc"
include "/usr/local/share/nano/ruby.nanorc"
include "/usr/local/share/nano/sh.nanorc"
include "/usr/local/share/nano/xml.nanorc"
