.terminator-terminal-window notebook {
  border: 0;
}

.terminator-terminal-window notebook header {
  border-bottom: 1px solid #3f3f3f;
  background-color: #333333;
  padding: 4px 4px 0 4px;
}

.terminator-terminal-window notebook header tabs {
  margin: 0;
  padding: 0;
}

.terminator-terminal-window notebook tab {
  background-color: #333333;
  padding: 5px;
  border: none;
}

.terminator-terminal-window notebook tab:not(:last-child) {
  margin: 0 4px 0 0;
}

.terminator-terminal-window notebook tab:hover {
  background-color: #3f3f3f;
}

.terminator-terminal-window notebook tab:checked {
  background-color: #3f3f3f;
}

.terminator-terminal-window notebook tab label {
  color: #ccc;
}

.terminator-terminal-window notebook tab:checked label {
  color: #eee;
}

.terminator-terminal-window notebook tab button {
  margin: 0;
  background-color: transparent;
  color: #ccc;
  border: none;
}

.terminator-terminal-window notebook tab button:hover {
  background-color: #828282;
  color: #ccc;
  border: none;
}
